openapi: 3.0.4
info:
  title: Loan Calculator
  description: >-
    Loan Payment Calculator is a simple tool for calculating loan payments. It
    returns the monthly payment, total interest, and more.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/loanpaymentcalculator:
    post:
      summary: Calculate Loan Payment
      description: >-
        Calculate loan payments based on the loan amount, interest rate, and
        loan term
      operationId: loanpaymentcalculator
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  loanAmount: 32000
                  downpayment: 0
                  interestRate: 8.5
                  loanTerm: 6
                  monthly_payment: 568.91
                  total_interest_paid: 8961.4
                  total_payment: 40961.52
                  interestRatio: 21.88
                  formatted:
                    loanAmount: $32,000.00
                    monthlyPayment: $568.91
                    totalInterestPaid: $8,961.40
                    totalPayment: $40,961.52
                  amortization_schedule:
                    - month: 1
                      interest_payment: 226.67
                      principal_payment: 342.24
                      remaining_balance: 31657.76
                    - month: 2
                      interest_payment: 224.24
                      principal_payment: 344.67
                      remaining_balance: 31313.09
                    - month: 3
                      interest_payment: 221.8
                      principal_payment: 347.11
                      remaining_balance: 30965.99
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                loanAmount:
                  type: number
                  description: The loan amount
                interestRate:
                  type: number
                  description: The interest rate (percentage)
                loanTerm:
                  type: integer
                  description: The loan term in years
              required:
                - loanAmount
                - interestRate
                - loanTerm
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
sampleRequest:
  loanAmount: 32000
  interestRate: 8.5
  loanTerm: 6
